@import '../../assets/colors/colors.scss';

.Hero_slider {
    background-color: black;

    img {
        opacity: 0.3;

    }

    figcaption {
        margin-bottom: 11%;

        h2 {
            font-size: 45px;
            font-weight: bold;
        }

        button {
            margin-top: 25px;
            background-color: $safety-orange-blaze-orange;
            padding: 10px 20px;
            border-radius: 5px;
            border: 0;
            color: white;
            font-weight: bold;
        }
    }

}