@import '../../assets/colors/colors.scss';

.Hero_slider {
    background-color: $eerie-black;
    

    .carousel-item{
        transition: 2s ease-in-out;
    }

    img {
        opacity: 0.4;

    }

    figcaption {
        margin-bottom: 100px;

        h2 {
            font-size: 80px;
        }

        p {
            padding-top: 5px;
            font-size: 24px;
        }

        button {
            margin-top: 45px;
            background-color: $safety-orange-blaze-orange;
            padding: 18px 50px;
            border-radius: 5px;
            border: 0;
            color: white;
            font-weight: bold;
        }
    }
}