@import '../../../assets/colors/colors.scss';

header {
    background-color: $onyx;

    #Header {
        padding: 20px 0 30px 0;
        color: white;
        
        p {
            display: inline;
        }

        i {
            color: $safety-orange-blaze-orange;
        }

    }
}