@import "./assets/colors/colors.scss";
@font-face {
    font-family: "fontawesome";
    src: url("../src/assets/Fonts/fontawesome-webfont.ttf");
}

@font-face {
    font-family: "glyphicons";
    src: url("../src/assets/Fonts/glyphicons-halflings-regular.ttf");
}

.TextThemeColor {
    color: $safety-orange-blaze-orange;
}

.TextPrimaryThemeColor {
    color: $sonic-silver;
}

.TextSecondaryThemeColor {
    color: $cultured;
}

.TextGrey {
    color: $gainsboro;
}

.ButtonThemeStyle {
    margin-top: 25px;
    padding: 10px 20px;
    background-color: $safety-orange-blaze-orange;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    color: white;
    transition: .25s ease-in-out;
}

.ButtonThemeStyle:hover {
    background-color: rgba(255, 255, 255, 0);
    color: $safety-orange-blaze-orange;
    border: 2px solid $safety-orange-blaze-orange;

}